* {
    margin: 0px;
    padding: 0;
}
.simple nav {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    width: 98,2%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(196, 144, 144, 0.829);
}
.simple a {
    text-decoration: none;
    margin-left: 20px;
    color: rgb(53, 17, 17);
    padding: 5px;
}
.logo {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif
}
.baggrund {
    display: flex;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    line-height: 0px;
    text-align: left;
}
.velkommen {
  padding: 400px;
  float: inline-start;
}
.mig {
  float: right;
}
/* ikoner */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float:inline-start;
  }
  .fa:hover {
    opacity: 0.7;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Insta */
  .fa-instagram {
    background: #972525dc;
    color: white;
  }

/* Portfolio */
.flow1 {
  float: left;
}
/* portfolioside2 */
div.gallery {
    margin: 10px;
    margin-right: -70px;
    margin-inline-start: 91px;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    width: 180px;
  }
  div.gallery:hover {
    border: 1px solid rgb(255, 255, 255);
  }
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }  

/* Om mig */
p {
    text-align: left;
    margin: 160px 100px 160px 100px;
    width: 1024px;

* {box-sizing: border-box}

.container {
  width: 
  justify-content: left;
  background-color: black; 
}

.skills {
  text-align: right; 
  padding-top: 15px; 
  padding-bottom: 25px; 
  color: white; 
}

.html {width: 90%; background-color: #633a30;} 
.css {width: 80%; background-color: #f321bf;} 
.js {width: 65%; background-color: #a09291;} 
}

/* Kontakt */
h2 {
    padding: 30px 180px 0px 180px;
    margin-top: 250px;
}
.flex-container {
    display: flex;
}
.flex-item {
    background-color: #e8e8e9;
    margin: 15px;
    padding: 15px;
    width: 300px;
}
.flex-item-s {
    background-color: #e8e8e9;
    margin: 15px;
    padding: 15px;
    width: 300px;
    height: 200px;
}
.drej {
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 40%;
}